{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="bg-light p-5 rounded">
    <h1>Hive - SBI Web app</h1>
    <p class="lead">Hive Stake Based Income (Hive SBI) is a social experiment to bring a voluntary crowdfunded basic income to as many Hivers as possible. Members join by sponsoring others into the program. Hive SBI is delivered through providing regular upvotes to member content. If you are not active on Steem, but still have units there, please read the Docs to learn how to consolidate to a single chain!</p>

    <a class="btn btn-lg btn-dark" href="{% url 'userinfo_form' %}" role="button">User Info &raquo;</a>
</div>
{% endblock %}
